/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/
#app {
}
@media all and (max-width: 500px) {
    .leftpane {
        min-width: 100%;
        max-width: 100%;
    }
}
.leftpane {
	color:#fff;
	width:310px;
	max-width:310px;
	background:#000 url("../assets/left.jpg");
}
.infopane {
	background:#fff url("../assets/info.jpg");
	min-width:320px;
	color:#000;
}
.childpane{
	background: rgba(0,0,0,0.6);;
}
.motherpane{
	background: rgba(0,0,0,0.3);;
}
.regel{
	height:48px;
}
.divider {
	color: #fff;
}
.label {
	color: #fff;
	font-size: 0.9em;
	text-align: right;
	margin-right: 20px;
}
.headers{
}
.head{
	margin-left:44px;
	font-size:1.5em;
	font-weight:bold;
}
.version{
	margin-left:44px;
	font-weight:bold;
	font-size:0.8em;
	color:#666;
}
.aboutinfo{
	margin-right:200px; 
	width:300px;
	min-height:200px;
}
.panelshadow{
	background-image:url(../assets/shadow.png);
	position:absolute;
	top:0;
	left:-7px;
	width:7px;
	height:1024px;
}


